{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
*{
  box-sizing : border-box;
  font-family : DX경필명조B;
}
</style>

</head>
<body>


 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img class=navbar-brand src="/static/img/logo_baker.png" alt="logo_baker" width="59" height="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">가게 관리</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="/baker/manageStore/enrollStore">가게 등록</a>
            <a class="dropdown-item" href="/baker/manageStore/opendays">가게 영업일 관리</a>
            <a class="dropdown-item" href="/baker/manageStore/storeReview">가게 평점 확인</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">케이크 관리</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="/baker/manageCake/myCakes">내 케이크</a>
            <a class="dropdown-item" href="/baker/manageStore/opendays">가게 영업일 관리</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/baker/manageOrder">주문 관리<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/baker/mypage">마이 페이지</a>
      </li>
    </ul>


    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components/navbar/" role="button">View navbar docs &raquo;</a>
             <div class="header">
    </div>
          {% block content %}
      {% endblock %}
  </div>
</main>
</body>
</html>
