<!--customer.name으로 OO회원님 표시-->
 {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base_customer.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>{% block title%}{% endblock%}</title>

    <!-- Bootstrap core CSS -->
<!--    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>


  <body>
    <div class="container">
      <!--로고-->
  <header class="main-header pt-3 pb-2">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 d-flex">
        <img src="/static/img/main_logo_customer.png" alt="주문자 로고">
      </div>
      <div class="name">
        <p>Welcome for {{customer.name}}회원님</p>
      </div>
    </div>
  </header>








  <!-- <nav id="main_nav">
      <ul class="left">
          <li><a href="#">주문하기</a></li>
          <li><a href="#">주문내역조회</a></li>
          <li><a href="#">My Page</a></li>
          <li><a href="#">Logout</a></li>
      </ul>
  </nav> -->



  <!-- 네비게이션 오류투성이 -->

<!-- <div class="nav-scroller py-1 mb-2 main_text"> -->

<!--    <nav class="nav d-flex justify-content-left">-->
<!--      <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">가게 관리</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <a class="dropdown-item" href="#">가게 등록</a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">가게 영업일 관리</a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">가게 평점 확인</a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->


<!-- </div> -->


<!-- <ul class="nav justify-content-left main_text">
  <li class="nav-item">
    <a class="nav-link active" href="#">주문하기</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">주문내역조회</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">My Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Logout</a>
  </li>
</ul> -->





  <!-- <li class="nav-item">
    <a class="nav-link active text-muted" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-muted" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">가게관리</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">가게 등록</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">가게 영업일 관리</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">가게 평점 확인</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Disabled</a>
  </li> -->




<!--

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer> -->
{% block content %}
{% endblock %}
    </div>
</body>
</html>