<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>더 케이크</title>
</head>

<body>
    <div class="header">
        <img src="/static/img/logo_customer.png" alt="logo_customer">
        <h1>더 케이크</h1>
    </div>

    <nav>
        <button type="button" onclick="location.href='/baker/manageStore'">가게 관리</button>
        <button type="button" onclick="location.href='/baker/manageCake'">케이크 관리</button>
        <button type="button" onclick="location.href='/baker/manageOrder'">주문 관리</button>
        <button type="button" onclick="">로그아웃</button>
    </nav>

    <!--동적으로 바뀔 부분을 아래에 정의-->
    {% block container %}
    {% endblock %}

</body>
</html>