<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../resources/css/reset.css" type="text/css" rel="stylesheet">
    <link href="../resources/css/style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login_customer</title>
</head>
<body>
    <div class="header">
<img src="/static/img/logo_customer.png" alt="logo_customer">
    </div>
    <div id="login_form">
        <form method="POST" action="{% url 'login_customer'%}">
            {% csrf_token %}
            <div><input id="email_customer" type="email" name="email_customer" placeholder="이메일" aria-required="true "/></div>
            <div><input id="pw_customer" type='password' name='pw_customer' placeholder="패스워드" aria-required="true" /></div>
            <input id="submit" type='submit' value='LOGIN'/>
        </form>
        <a href="idpw_search_customer.html" id="idpw">ID / PW 찾기</a><br>
        <a href="signup_customer.html" id="signup">아직 회원이 아니신가요?</a>
    </div>


</body>
</html>
