{% extends 'base_customer.html' %}
{% block title%} main {% endblock %}

{% block content %}


<!--<form method = "POST" action="{% url 'main_customer'%}">-->
<!--    <div class="form-group">-->
<!--      <input-->
<!--      type="date"-->
<!--      class="form-control"-->
<!--      id="pickupDate"-->
<!--      name="pickupDate">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <input-->
<!--      type="date"-->
<!--      class="form-control"-->
<!--      id=""-->
<!--      name="pickupDate">-->
<!--    </div>-->

<!--  <button type="submit" id="submit">등록</button>-->

<!--</form>-->
<!--<script>-->
<!--  document.getElementById('currentMonth').value= new Date().toISOString().slice(0, 7);-->
<!--</script>-->


<!--<p>main_customer</p>-->
{% endblock %}