<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup_orderer</title>

    <style>
        img{ border:0 none; }
        form, input{ margin:0;padding:0; }
        *{
            box-sizing : border-box;
            text-align : center;
            font-family : DX경필명조B;
        }
        .header #logo {
            width: 200px;
            margin : 50px 0px 0px 0px;
        }
	}
    </style>
</head>
<body>
    <div class="header">

        <!--여기도 상대 경로인데 어떻게 할까요? 로고 부분입니다.-->
        <img id="logo" src="../resources/photos/logo_orderer.png">
   </div>
        <!--여기를 나중에 백엔드 만들어지면 고쳐야 해요-->
        <!--데이터 전송하는 부분-->
 <form method = "POST" action = "#">
    <div class="form-group">
      <label for="name_orderer">성명</label>
      <input
      type="text"
      class="form-control"
      id="name_orderer"
      name="name_orderer">
      <!-- 이 name 값으로 정보가 전달된다 -->
    </div>

    <div class="form-group">
      <label for="email_orderer">이메일</label>
      <input
      type="email"
      class="form-control"
      id="email_orderer"
      name="name_orderer">
      <!-- 이 name 값으로 정보가 전달된다 -->
    </div>

    <div class="form-group">
      <label for="password_orderer">비밀번호</label>
      <input type="password"
      class="form-control"
      id="password_orderer"
      placeholder="8자리 이상, 대소문자 포함"
      name= "password_orderer">
    </div>


     <!--고쳐야 해요-->
    <div class="form-group">
      <label for="re-password_orderer">비밀번호 확인</label>
      <input type="password"
      class="form-control"
      id="re-password_orderer"
      name= "re-password_orderer">
    </div>

    <div class="form-group">
      <label for="phoneNum_orderer">휴대전화</label>
      <input
      type="text"
      class="form-control"
      id="phoneNum_orderer"
      name="phoneNum_orderer">
      <!-- 이 name 값으로 정보가 전달된다 -->
    </div>
    <button type="submit" id="submit">등록</button>
 </form>

</body>
</html>