*{
  box-sizing : border-box;
  font-family : DX경필명조B;
}

.container{
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #fffcfa;
}

input[type="file"] {
    position: relative;
    margin-left: 50px;
}
canvas{
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
}

.form-group{
  width: 100%;
  max-width: 900px;
  padding: 0px;
  margin: auto;
}

.form-group .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10 20px;
  font-size: 15px;
  width: 270px;
}
.form-group .form-control:focus {
  z-index: 2;
}
label {
    display:block;
    text-align: center;
}

#submit{
    padding: 10px 50px;
}

form {
    margin-top: 50px;
}
canvas {
background-color: yellow;
margin: 0px;
}