<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>index</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="index">
        <button type="button" id="button_customer" onclick="location.href='/customer/login'">주문자용<br>홈페이지</button>
        <button type="button" id="button_baker" onclick="location.href='/baker/login'">사업자용<br>홈페이지</button>
    </div>
</body>
</html>