<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="/static/css/login_baker.css">
    <title>login_baker</title>
</head>
<body class="text-center">
    <form method="POST" action="{% url 'login_baker'%}" class="form-signin">
        <img class="mb-4" src="/static/img/logo_baker.png" alt="logo_baker" width="141" height="120">
        {% csrf_token %}
        <input type="email" id="email_baker" class="form-control" name="email_baker" placeholder="Email address" aria-required="true"/>
        <input type="password" id="pw_baker" class="form-control" name="pw_baker" placeholder="Password" aria-required="true"/>
        <button type='submit' id="submit" class="btn btn-lg btn-secondary btn-block">LOGIN</button>

        <p>
            <a href="/baker/idpw_search" id="idpw_search_baker"><u>ID / PW 찾기</u></a><br>
            <a href="/baker/signUp" id="signUp"><u>아직 회원이 아니신가요?</u></a>
        </p>

    </form>

</body>
</html>