<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login_baker</title>
</head>
<body>
    <div class="header">
<img src="/static/img/logo_baker.png" alt="logo_baker">
    </div>
    <div id="login_form">
        <form method="POST" action="{% url 'login_baker'%}">
            {% csrf_token %}
            <div><input id="email_baker" type="email" name="email_baker" placeholder="이메일" aria-required="true "/></div>
            <div><input id="pw_baker" type='password' name='pw_baker' placeholder="패스워드" aria-required="true" /></div>
            <input id="submit" type='submit' value='LOGIN'/>
        </form>
        <a href="/baker/idpw_search" id="idpw_search_baker">ID / PW 찾기</a><br>
        <a href="/baker/signup" id="signup">아직 회원이 아니신가요?</a>
    </div>


</body>
</html>
