<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../resources/css/reset.css" type="text/css" rel="stylesheet">
    <link href="../resources/css/style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>order_request_history</title>
</head>
<body>
    <div class="header">
        <img id="logo" src="../resources/photos/logo_businessperson.png">
        <h1>사장님의 더 케이크</h1>
    </div>
<nav>
    <button type="button" onclick="location.href='store_management.html'">주문 관리</button>
    <button type="button" onclick="location.href='order_management.html'">주문 관리</button>
    <button type="button" onclick="location.href='mypage_businessperson.html'">주문 관리</button>
    <button type="button" onclick="">로그아웃</button>
</nav>
</body>
</html>