<!--
이메일 중복확인 - check_email 변수에 담아주세요.
사업자등록번호 유효한 지 - 함수로 확인
이메일 인증하기 - BACKEND 구역
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="/static/css/signUp_baker.css">
    <title>회원가입_baker</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>


<body class="text-center">
 <form method = "POST" class="form-signup">
     <img class="mb-4" src="/static/img/logo_baker.png" alt="logo_baker" width="141" height="120">
     {% csrf_token %}
     <div class="row mt-5">
        <div class="col-12">
            {{error}}
        </div>
    </div>
    <div class="form-inline form-group">
      <label for="businessName" class="col-sm-4 control-label">사업자명</label>
      <input
      type="text"
      class="form-control"
      placeholder="기입하였던 사업자명을 입력하세요."
      id="businessName"
      name="businessName"
      required>
      <!-- 이 name 값으로 정보가 전달된다 -->
    </div>

    <div class="form-inline form-group">
      <label for="name_baker" class="col-sm-4 control-label">성명</label>
      <input
      type="text"
      class="form-control"
      id="name_baker"
      placeholder="이름을 입력해주세요."
      name="name_baker"
      required>
      <!-- 이 name 값으로 정보가 전달된다 -->

    </div>

    <div class="form-inline form-group">
      <label for="email_baker" class="col-sm-4 control-label">이메일</label>
      <input
      type="email"
      class="form-control"
      id="email_baker"
      placeholder="이메일을 입력해주세요."
      name="email_baker"
      required>
    </div>
<!--여기 수정되어야 함-->
<!--check_email이 참이면 사용가능한 이메일입니다.-->
<!--check_email이 거짓이면 중복되는 이메일입니다.-->
<!--     <script>-->
<!--        $(function(){-->
<!--            $("#email_success").hide();-->
<!--            $("#email_fail").hide();-->

<!--            $("#btn-email").click(function(){-->
<!--                if ({{baker.checkEmail}}==TRUE){-->
<!--                    $("#email_success").show();-->
<!--                    $("#email_fail").hide();-->
<!--                }-->
<!--                else{-->
<!--                    $("#email_success").hide();-->
<!--                    $("#email_fail").show();-->
<!--                }-->
<!--            });-->

<!--        })-->
<!--     </script>-->




    <div class="form-inline form-group">
      <label for="password_baker" class="col-sm-4 control-label" >비밀번호</label>
      <input type="password"
      class="form-control"
      id="password_baker"
      placeholder="8자리 이상, 대소문자 포함"
      name= "password_baker"
      required>
    </div>

    <div class="form-inline form-group">
      <label for="re-password_baker" class="col-sm-4 control-label" >비밀번호 확인</label>
      <input type="password"
      class="form-control"
      id="re-password_baker"
      placeholder="비밀번호 재입력"
      name= "re-password_baker"
      required>
    </div>
     <div class="alert alert-success" id="alert-success1">비밀번호가 일치합니다.</div>
     <div class="alert alert-danger" id="alert-danger1">비밀번호가 일치하지 않습니다.</div>


    <div class="form-inline form-group">
      <label for="phoneNum_baker" class="col-sm-4 control-label" >휴대전화</label>
      <input
      type="tel"
      class="form-control"
      id="phoneNum_baker"
      placeholder="예) 010-1234-5678"
      pattern="(010)-\d{3,4}-\d{4}"
      name="phoneNum_baker"
      required>
    </div>
      <!-- 이 name 값으로 정보가 전달된다 -->
<!--여기 수정되어야 함
check_businessID이 참이면 유효한 사업자등록번호입니다.
     <script>
        $(function(){
            $("#businessID_success").hide();
            $("#businessID_fail").hide();

            $("#btn-businessID").click(function(){
                if (check_businessID==TRUE){
                    $("#businessID_success").show();
                    $("#businessID_fail").hide();
                else {
                    $("#businessID_success").hide();
                    $("#businessID_fail").show();
                }
            });
        })
     </script>

check_businessID이 거짓이면 유효하지 않는 사업자등록번호입니다.-->
    <button type="submit" id="submit" class="btn btn-lg btn-secondary btn-block">SIGN UP</button>
 </form>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#alert-success1").hide();
        $("#alert-danger1").hide();
        $("#submit").attr("disabled", "disabled");

            $("input").keyup(function() {
            var pwd1=$("#password_baker").val();
            var pwd2=$("#re-password_baker").val();


            if (pwd1 != "" || pwd2 != "") {
                if (pwd1 == pwd2) {
                    $("#alert-success1").show();
                    $("#alert-danger1").hide();
                    $("#submit").removeAttr("disabled");
                } else {
                    $("#alert-success1").hide();
                    $("#alert-danger1").show();
                }
            }
        });
    });
</script>