<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store_signup</title>
</head>
<body>
    <div class="header">
        <img id="logo" src="../resources/photos/logo_businessperson.png">
        <h1>사장님의 더 케이크</h1>
    </div>
<nav>
    <button type="button" onclick="location.href='store_management.html'">주문 관리</button>
    <button type="button" onclick="location.href='order_management.html'">주문 관리</button>
    <button type="button" onclick="location.href='mypage_businessperson.html'">주문 관리</button>
    <button type="button" onclick="">로그아웃</button>
</nav>

</body>
</html>